{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Data Visualization</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>     
</body>
<div align="center" class='title' >
	<img src="{% static 'logo.png' %}">
	{% if not data %}
		DATA VISUALIZATION !!.
	{% else %}
		DATA VISUALIZATION OUTPUT
	{% endif %}
</div>
{% if not data %}
<div class='sidebar' align="center">
		
		 
		<div class="inputdiv" align="center">
			<form action="output/"  method="get" target="_blank">

					<div >
			<span >State</span>

			<select name="state" class="statelist">
			<option selected value='FL'>FL Florida</option>
			<option value='CO'>CO Colorado</option>
			<option value='CA'>CA California</option>
			<option value='GA'>GA Georgia</option>
			<option value='NJ'>NJ New Jersey</option>
			<option value='NY'>NY New York</option>
			<option value='IL'>IL Illinois</option>
			<option value='IN'>IN Indiana</option>
			<option value='MD'>MD Maryland</option>
			<option value='VA'>VA Virginia</option>
			<option value='MA'>MA Massachusetts</option>
			<option value='NH'>NH New Hampshire</option>
			<option value='RI'>RI Rhode Island</option>
			<option value='DE'>DE Delaware</option>
			<option value='PA'>PA Pennsylvania</option>
			<option value='OH'>OH Ohio</option>
			<option value='MN'>MN Minnesota</option>
			<option value='NC'>NC North Carolina</option>
			<option value='SC'>SC South Carolina</option>
			<option value='MS'>MS Mississippi</option>
			<option value='TN'>TN Tennessee</option>
			<option value='OK'>OK Oklahoma</option>
		</select>
			
		</div>
		<div>
			<span>Month</span>

		<select name="month" class="month">
			
			<option value='January'>January</option>
			<option value='February'>February</option>
			<option value='March'>March</option>
			<option value='April'>April</option>
			<option value='May'>May</option>
			<option value='June'>June</option>
			<option selected value='July'>July</option>
			<option value='August'>August</option>
			<option value='September'>September</option>
			<option value='October'>October</option>
			<option value='November'>November</option>
			<option value='December'>December</option>

		</select>

		</div>
		
			
		
		<div>
		
	
		<span>Year</span>

		<select name="year">
			
			<option selected value="2016" >2016</option>
			<option value="2017">2017</option>
		</select>

		</div>

		<div>
			
			<span>Type</span>

			<select name="type">
				
				<option value="line">Line Chart</option>
				<option value="bar">Bar Chart</option>

			</select>
		</div>

		<div>
			
			<input  id="generatebut" type="submit" value="Generate Chart" />

		</div>
		</form>
		</div>
		




</div>
{% endif %}

{% if data %}
<div class='chartout'>
	
<div id="chart">
	{% if data %}
   <embed type="image/svg+xml" src= {{data|safe}} />
   {% endif %}
</div>

</div>
{% endif %}


</body>
</html>
