body{
	margin: 0px;
    background-color: hsla(174, 100%, 29%, 0.45);
    font-family: sans-serif;
}
.title{

	width: 100%;
    font-size: 30px;
    height: 50px;
    background: #009688;
    color: #FFFFFF;
    padding-top: 20px;
}
.sidebar{
    font-size: 30px;
    background: #FFF;
    color: #0a6f66;


}
form{
    border: 1px solid rgba(0, 0, 0, 0.28);
    background-color: rgba(158, 158, 158, 0.05);
    padding-top: 9%;
    border-radius: 7px;
    padding-right: 17px;
}

select{

	width: 100px;
    height: 25px;
}

div.inputdiv{
	 
	margin-top: 10%;
    width: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: -3%;
}

div.inputdiv select{

	 float: right;
    margin-right: 15%;
    margin-top: 10px;
}

div.inputdiv span{

	font-size: 20px;
    margin-left: 35px;
}

div.inputdiv div{

	margin-bottom: 20px;
}


#generatebut{

	margin-left: 10%;
    height: 35px;
    width: 40%;
    background-color: #FFF;
    color: #009688;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #0a6f66;
    outline: none;
    margin-top: 15%;
}
#generatebut:hover{
    background-color: #009688;
    color: #FFF;
}
.chartout{

	float: right;
    border: 1px dashed black;
    width: 86%;
    margin-top: 1%;
    margin-right: 6%;
}
button a{

	text-decoration: none;
    color: #009688;
}

img{
   height: 60px;
    position: absolute;
    float: left;
    left: 5px;
    top: 8px;
}